@import '../../../config-scss/rem-calc.scss';

$padding: rem-calculator(20);
:host{
    display: flex;

    .pokemon{
        display: flex;
        background: var(--white);
        position: relative;

        width: 49%;
        height: rem-calculator(160);
        padding: $padding;

        border-radius: rem-calculator(10);

        &_status{
            h2{
                font-size: rem-calculator(22);
                font-style: italic;
                font-weight: 700;

                margin-bottom: rem-calculator(10);
            }
            ul{
                display: flex;
                flex-direction: column;
                

                li{
                    background: var(--grey);
                    font-size: rem-calculator(10);

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: rem-calculator(60);
                    margin-bottom: rem-calculator(5);

                    border-radius: rem-calculator(32);
                }
            }
        }

        &_img{
            position: absolute;

            display: flex;
            align-items: center;
            justify-content: center;

            height: rem-calculator(90);
            width: rem-calculator(110);

            right: $padding;
            bottom: $padding;

            background: url('../../../assets/bg/background-list-pokemons.svg');

            img{
                width: rem-calculator(100);
            }
        }
    }
}